*.bak
*/db/*
*.html
*.S
*.xml
*.qsys_edit
*.bsf
*.vhd
*.cmp
*.rpt
*.vo
*.sft
*.xrf
*.tcl~
*.csv
Huffman-coder/Huffman_coder_system/software/bsp/*
Huffman-coder/Huffman_coder_system/software/app/*
Huffman-coder/Huffman_coder_system/testbench/*
Huffman-coder/Huffman_coder_system/synthesis/*
Huffman-coder/incremental_db/*
Huffman-coder/output_files/*
*/testbench/mentor/*
